.project
.classpath
.wtpmodules
.settings
.svn/
.project
.settings/
target/
**/.project
**/.classpath
**/.settings/
**/target/
**/dependency-reduced-pom.xml
pom.xml.next
pom.xml.releaseBackup
pom.xml.tag
release.properties
*.iml
.idea
*.swp
*.ipr
*.iws
